
@import url("../../../wp-includes/css/dashicons.min.css?ver=4.8.1");

html, body {
    background-color: black;
	margin: 0px;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.game {
	width: 256px;
	height: 256px;
	margin: -128px -128px;
	position: absolute;
	top: 50%;
    left: 50%;
	z-index: 10;
}

.mask {
	width: 256px;
	height: 256px;
    margin: 0px;
	position: absolute;
	top: 0px;
    left: 0px;
	z-index: 20;
	background-image: url("img/mask.png");
	border-collapse: collapse;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mask_facet {
	width: 16;
	height: 16;
	background-color: transparent;
	border: 0px;
}

.player {
	width: 16px;
	height: 16px;
	margin: -8px -8px;
	position: absolute;
	top: 50%;
    left: 50%;
	z-index: 15;
	background-image: url("img/dsa.png");
}

#triggers {
	visibility: collapse;
	display: none;
}

#popup {
	max-width: 400px;
	max-height: 640px;
	margin: auto auto;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
    right: 2px;
	z-index: 50;
	visibility: hidden;
	border: 1px solid white;
	background: black;
}

#popup_image {
	max-width: 390px;
    max-height: 590px;
    margin: auto auto;
    position: absolute;
    top: 7px;
    bottom: 64px;
    left: 7px;
    right: 7px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
}

#popup_button {
	width: 100px;
	height: 23px;
	border: 1px solid white;
	margin: 15px -50px;
	padding-top: 9px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#messages {
	height: 140px;
	position: absolute;
	top: 10px;
    left: 10px;
	right: 10px;
	z-index: 30;
	background: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#messages_mask {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
    left: 0;
	z-index: 31;
	background-image: url("img/messages_mask.png");
	background-size: cover;
}

#buttons {
	margin: 0px 0px 0px 10px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 40;
    opacity: 0.75;
    color: #fff;
	overflow: visible;
}

#buttons div, #buttons a {
	border: 1px solid white;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font: 400 24px/1.3 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    text-align: center;
	color: #fff;
}

#buttons .button:hover, #buttons .dropdown:hover {
    color: #000;
    background-color: #fff;
}

#buttons .dropdown {
	width: 100px;
	text-align: left;
}

#buttons .dropdown span {
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: inline-block;
    line-height: 30px;
    height: 30px;
    position: absolute;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

#buttons #up {
    bottom: 34px;
    left: 34px;
}

#buttons #up::before {
    content: "\f142";
}

#buttons #left {
    bottom: 0px;
    left: 0px;
}

#buttons #left::before {
    content: "\f141";
}

#buttons #down {
    bottom: 0px;
    left: 34px;
}

#buttons #down::before {
    content: "\f140";
}

#buttons #right {
    bottom: 0px;
    left: 68px;
}

#buttons #right::before {
    content: "\f139";
}

#buttons #paint {
    bottom: 0px;
    left: 110px;
}	

#buttons #paint::before {
    content: "\f139";
}

#buttons #action {
    bottom: 0px;
    left: 220px;
}	

#buttons #action::before {
    content: "\f139";
}

#buttons #paint_dropdown {
    bottom: 34px;
    left: 110px;
	width: 100px;
	height: 144px;
}

#buttons .dropdownpopup div, #buttons .dropdownpopup a {
	width: 86px;
	text-align: left;
	padding-left: 2px;
}

#buttons .dropdownpopup div span, #buttons .dropdownpopup a span {
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: inline-block;
    line-height: 30px;
    height: 30px;
    position: absolute;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

#buttons #paint_up {
	left: 5px;
	top: 5px;
}

#buttons #paint_up::before {
	content: "__";
	color: transparent;
    background-image: url('img/arrow_up.png');
	background-size: 30px 30px;
	background-position: center;
}

#buttons #paint_down {
	left: 5px;
	top: 39px;
}

#buttons #paint_down::before {
	content: "__";
	color: transparent;
    background-image: url('img/arrow_down.png');
	background-size: 30px 30px;
	background-position: center;
}

#buttons #paint_left {
	left: 5px;
	top: 73px;
}

#buttons #paint_left::before {
	content: "__";
	color: transparent;
    background-image: url('img/arrow_left.png');
	background-size: 30px 30px;
	background-position: center;
}

#buttons #paint_right {
	left: 5px;
	top: 107px;
}

#buttons #paint_right::before {
	content: "__";
	color: transparent;
    background-image: url('img/arrow_right.png');
	background-size: 30px 30px;
	background-position: center;
}

#buttons #action_dropdown {
    bottom: 34px;
    left: 220px;
	width: 100px;
	height: 212px;
}

#buttons #display {
    top: 5px;
    left: 5px;
}

#buttons #display::before {
	content: ".";
	color: transparent;
}

#buttons #teleport {
    top: 39px;
    left: 5px;
}

#buttons #teleport::before {
	content: ".";
	color: transparent;
}

#buttons #return {
    top: 73px;
    left: 5px;
}

#buttons #return::before {
	content: ".";
	color: transparent;
}

#buttons #reveal {
    top: 107px;
    left: 5px;
}

#buttons #reveal::before {
	content: ".";
	color: transparent;
}

#buttons #tele2 {
    top: 141px;
    left: 5px;
}

#buttons #tele2::before {
	content: ".";
	color: transparent;
}

#buttons #fullscreen {
    top: 175px;
    left: 5px;
}

#buttons #fullscreen::before {
	content: ".";
	color: transparent;
}





